html(lang="ru")
  include ../mixins.jade

  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    title Title
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    meta(name="format-detection", content="telephone=no")

  body
    .open-button Open all
    .wrapper
      .tiles-container
        .tile.tile--active
          .tile__flipper
            .tile__front me
            .tile__back
              img(src="img/me.svg", alt="").hero
        .tile.tile--active
          .tile__flipper
            .tile__front about
            .tile__back.tile__back--hero
              span.tile__hero-specialization 
                .tile__hero-specialization-top Front-end
                .tile__hero-specialization-bottom developer
              span.tile__hero-age 26 years
              span.tile__hero-city Minsk
        .tile.tile--active 
          .tile__flipper
            .tile__front skills
            .tile__back.tile__back--skills
              .tile__skills-row
                span.tile__skill-item HTML5
                span.tile__skill-item CSS3
              .tile__skills-row
                span.tile__skill-item jQuery
                span.tile__skill-item Jade
              .tile__skills-row
                span.tile__skill-item Less
                span.tile__skill-item BEM
              .tile__skills-row
                span.tile__skill-item Gulp
                span.tile__skill-item Git
        +work_item('Topnomer', 'img/works-topnomer.png', 'pages/topnomer/desktop/main.html')
        +work_item('Dinvio', 'img/works-dinvio.png', 'pages/dinvio')
        +work_item('Vyatka region', 'img/works-vyatka.png', 'pages/vyatka')
        +work_item('Gzhel Porcelain Factory', 'img/works-farfor.png', 'pages/farfor')
        +work_item('RAK', 'img/works-rak.png', 'pages/rak')
        +work_item('The Virtual Museum of Architecture', 'img/works-vma.png', 'pages/arch')
        +work_item('Russian Lawns', 'img/works-gazon.png', 'pages/gazon')
        +work_item('CallBackService', 'img/works-cbs.png', 'pages/cbs')
        +work_item('Irito', 'img/works-irito.png', 'pages/irito')
        +work_item('LinkIntel', 'img/works-linkintel.png', 'pages/linkintel')
        +work_item('BystroBeton', 'img/works-beton.png', 'pages/beton')
        +work_item('SmallRider', 'img/works-smallrider.png', 'pages/space')
        +work_item('Adagio', 'img/works-adagio.png', 'pages/adagio')
        +work_item('City78', 'img/works-city78.png', 'pages/city78')
        .tile
          .tile__flipper
            .tile__front.tile__front--contacts contacts
            .tile__back.tile__back--contacts
              a(href="mailto:tehzienergy@gmail.com").link-email tehzienergy@gmail.com
              a(href="#").link-skype skype: zienergy
              .socials
                a(href="https://vk.com/zienergy").link-vk
                a(href="https://twitter.com/Zhmurik").link-twitter
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,100,700' type='text/css')
    link(rel='stylesheet', href='css/style.css')
    script(type="text/javascript", src="js/jquery.min.js")
    script(type="text/javascript", src="js/script.js")