html(lang="ru")
  include ../mixins.jade

  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    title Title
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    meta(name="format-detection", content="telephone=no")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,100,700' type='text/css')
    link(rel='stylesheet', href='css/style.css')
    script(type="text/javascript", src="js/jquery.min.js")
    script(type="text/javascript", src="js/script.js")

  body
    .open-button Open all
    .wrapper
      .standarts
        .standarts__header
        ul.standarts__list
          li.standarts__item