html(lang="ru")
  include mixins.jade

  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    title Title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,100,700' type='text/css')
    link(rel='stylesheet', href='css/style.css')
    script(type="text/javascript", src="js/jquery.min.js")
    script(type="text/javascript", src="js/script.js")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    meta(name="format-detection", content="telephone=no")

  body
    .tiles-container
      .tile.tile--active
        .tile__flipper
          .tile__front me
          .tile__back
            img(src="img/me.svg", alt="").hero
      .tile.tile--active
        .tile__flipper
          .tile__front about
          .tile__back.tile__back--hero
            span.tile__hero-specialization 
              .tile__hero-specialization-top Front-end
              .tile__hero-specialization-bottom developer
            span.tile__hero-age 26 years
            span.tile__hero-city Minsk
      .tile
        .tile__flipper
          .tile__front skills
          .tile__back.tile__back--skills HTML, CSS, jQuery, Jade, Less, Gulp, Git, BEM
      +work_item('Topnomer', 'img/works-topnomer.png')
      +work_item('Dinvio', 'img/works-dinvio.png')
      +work_item('Vyatka region', 'img/works-vyatka.png')
      +work_item('Gzhel Porcelain Factory', 'img/works-farfor.png')
      +work_item('RAK', 'img/works-rak.png')
      +work_item('The Virtual Museum of Architecture', 'img/works-vma.png')
      +work_item('Russian Lawns', 'img/works-gazon.png')
      +work_item('CallBackService', 'img/works-cbs.png')
      +work_item('Irito', 'img/works-irito.png')
      +work_item('LinkIntel', 'img/works-linkintel.png')
      +work_item('BystroBeton', 'img/works-beton.png')
      +work_item('SmallRider', 'img/works-smallrider.png')
      +work_item('Adagio', 'img/works-adagio.png')
      .tile
        .tile__flipper
          .tile__front bender
          .tile__back
            img(src="img/bender.jpg", alt="").bender
      .tile.tile--active
        .tile__flipper
          .tile__front call me!
          .tile__back.tile__back--contacts
            a(href="mailto:tehzienergy@gmail.com").link-email tehzienergy@gmail.com
            a(href="tel:+375(25)935-00-46").link-phone +375 (25) 935-00-46
            a(href="https://new.vk.com/zienergy").link-vk VK
            a(href="https://twitter.com/Zhmurik").link-twitter Twitter