html(lang="ru")

  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    title Title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,100,700' type='text/css')
    link(rel='stylesheet', href='css/style.css')
    script(type="text/javascript", src="js/jquery.min.js")
    script(type="text/javascript", src="js/script.js")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    meta(name="format-detection", content="telephone=no")

  body
    .tiles-container
      .tile.tile--active
        .tile__flipper
          .tile__front photo
          .tile__back
            img(src="img/me.svg", alt="").hero
      .tile.tile--active
        .tile__flipper
          .tile__front 2
          .tile__back.tile__back--hero
            span.tile__hero-specialization 
              .tile__hero-specialization-top Front-end
              .tile__hero-specialization-bottom developer
            span.tile__hero-age 26 years
            span.tile__hero-city Minsk
      .tile
        .tile__flipper
          .tile__front 3
          a(href="#").tile__back.tile__back--work
            img(src="img/works_topnomer.png", alt="").tile__work-picture
      .tile
        .tile__flipper
          .tile__front 4
          .tile__back active
      .tile
        .tile__flipper
          .tile__front 5
          .tile__back active
      .tile
        .tile__flipper
          .tile__front 6
          .tile__back active