mixin work_item(header, picture)
  .tile
    .tile__flipper
      .tile__front.tile__front--work #{header}
      a(href="#").tile__back.tile__back--work
        img(src=picture, alt="").tile__work-picture