.tiles-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.tile {
  perspective: 1000;
  width: 16%;
  height: 150px;
  &:nth-child(n+7) {
    margin-top: 7px;
  }
  &__flipper {
    width: 100%;
    height: 100%;
    transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
  } 
  &:hover .tile__flipper {
    transform: rotateY(180deg);
  }
  &.tile--active .tile__flipper {
    transform: rotateY(180deg);
  }
  &__front, &__back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
  }
  &__front {
    z-index: 2;
	transform: rotateY(0deg);
    background: #fff;
    &--work {
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      padding: 0 10px;
      background: #f2f2f2;
    }
  }
  &__back {
    transform: rotateY(180deg);
    background: #fff;
    &--work {
      overflow: hidden;
      align-items: flex-start;
    }
    &--skills {
      padding: 20px 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-flow: row wrap;
    }
  }
  &__skill-item {
    font-size: 18px;
    text-align: center;
    display: block;
    background: #2196F3;
    padding: 3px 6px;
    color: #fff;
    &:nth-child(n+3) {
      margin-top: 5px;
    }
  }
  .tile__work-picture {
    width: 100%;
    height: auto;
  }
  &__back--hero {
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    text-align: center;
    padding: 20px 0;
  }
  &__hero-specialization-top {
    font-size: 30px;
    text-align: center;
    color: #42A5F5;
    font-weight: 100;
  }
  &__hero-specialization-bottom {
    font-size: 22px;
    text-align: center;
    color: #42A5F5;
    font-weight: 100;
  }
  &__hero-age {
    font-weight: 100;
  }
  &__hero-city {
    font-weight: 400;
  }
  &__back--contacts {
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 30px 0;
  }
}

.hero {
  height: 90%;
  width: auto;
}

.bender {
  height: 100%;
  width: auto;
}

.link-email {
  font-size: 14px;
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

.link-phone {
  font-size: 14px;
  color: #000;
  text-decoration: none;
}

.socials {
  display: flex;
  justify-content: space-between;
}

.link-vk {
  font-size: 14px;
  color: #000;
  text-decoration: none;
  background: url(../img/vk.svg) no-repeat center;
  background-size: cover;
  width: 30px;
  height: 30px;
}

.link-twitter {
  font-size: 14px;
  color: #000;
  text-decoration: none;
  background: url(../img/twitter.svg) no-repeat center;
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.open-button {
  position: fixed;
  right: 0;
  top: 20px;
  font-size: 24px;
  text-align: center;
  padding: 5px 10px;
  background: #fff;
  cursor: pointer;
}

.link-skype {
  color: #12A5F4;
  font-size: 14px;
  text-decoration: none;
  .transition;
  &:hover {
    opacity: .7;
  }
}